<div class="row">
  <div class="card-holder">
    <%= render 'mobile_card', title: 'Member Database', card_path: users_path, icon: 'user' %>
    <%= render 'mobile_card', title: 'Manage Rosters', card_path: rosters_path, icon: 'calendar' %>
    <%= render 'mobile_card', title: 'Mark Attendance', card_path: events_path, icon: 'check' %>
    <%= render 'mobile_card', title: 'Manage Groups', card_path: groups_path, icon: 'list' %>
    <%= render 'mobile_card', title: 'Contact', card_path: messages_path, icon: 'envelope' %>
    <%= render 'mobile_card', title: 'Notifications', card_path: groups_path, icon: 'bell' %>
  </div>
</div>
