<div>

	<h3>
		Notifications (<%= @unread_notifications.length %>)
		<%= link_to 'View all', notifications_path, class: 'pull-right small' %>
	</h3>
</div>

<div class="panel panel-default">
	<div class="list-group">
		<% if @unread_notifications.empty? %>
			<div class="list-group-item">
				<h4>No new notifications at the moment.</h4>
			</div>
		<% else %>
			<% @unread_notifications.each do |notification| %>
				<div class="list-group-item">
					<%= link_to dismiss_notification_path(notification.id),
								class:"pull-right dismiss-cross-link",
								method: :post,
								data: {
									toggle: 'tooltip',
									placement: 'top',
									title: 'Dismiss'
								} do %>
						<%= fa_icon 'remove', class: 'large-icon' %>
					<% end %>
					<h4>
						<%= notification.title %>
					</h4>
					<p>
						<% if notification.content.length > 100 %>
					    <%= truncate(notification.content, length: 100) %>
					    <%= link_to 'Read more', '', class: "read-more-link", data: {content: notification.content} %>

					  <% else %>
					    <%= notification.content %>
					  <% end %>
					</p>
					<p><%= link_to 'Show me', notification.resolve_link %></p>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
