<div class="hidden-xs">
	<% if @place == 'inbox' %>
		<%= link_to 'Inbox', messages_path, class: "btn btn-default pull-left" %>
	<% else %>
		<%= link_to 'Inbox', messages_path, class: "btn pull-left" %>
	<% end %>
	<% if @place == 'draft' %>
		<%= link_to 'Draft Messages', draft_messages_path, class: "btn btn-default pull-left" %>
	<% else %>
		<%= link_to 'Draft Messages', draft_messages_path, class: "btn pull-left" %>
	<% end %>
	<% if @place == 'sent' %>
		<%= link_to 'Sent', sent_messages_path, class: "btn btn-default pull-left" %>
	<% else %>
		<%= link_to 'Sent', sent_messages_path, class: "btn pull-left" %>
	<% end %>
	
	
</div>