<div class="row btn-group">
  <%= link_to message_reply_path(mess), class: "text-left btn btn-default", method: :post do %>
  	<i class="fa fa-reply"></i>  Reply
  <% end %>
  <%= link_to message_forward_path(mess), class: "text-left btn btn-default", method: :post do %>
  	<i class="fa fa-share"></i>  Forward
  <% end %>
  <% if !mess.read %>
    <%= link_to message_read_path(mess), class: "text-left btn btn-default", method: :post do %>
    	<i class="fa fa-envelope"></i>
    <% end %>
  <% else %>
    <%= link_to message_unread_path(mess), class: "text-left btn btn-default", method: :post do %>
    	<i class="fa fa-envelope-open"></i>
    <% end %>
  <% end %>
</div>

<div class="row">
  <table class="">
    <tr>
      <td><strong>From: </strong></td>
      <td><%= mess.sender.name %></td>
    </tr>
    <tr>
      <td><strong>To: </strong></td>
      <td><%= if mess.receiver then mess.receiver.name else "<i>No recipient</i>".html_safe end %></td>
    </tr>
    <tr>
      <td><strong>Subject: </strong></td>
      <td><%= mess.title %></td>
    </tr>
  </table>
  <hr>
  <p>
      <%= mess.content.html_safe %>
  </p>
  
</div>

