
<div class="col-md-12">
  <b>From</b>
  <i><%= mess.sender.name %> </i>
  <br>
  <b>To</b>
  <% if mess.receiver %>
    <i><%= mess.receiver.name %> </i>
  <% else %>
    <i> None </i>
  <% end %>
  <br>
  <b>Title</b>
  <i> <%= mess.title %> </i>
  <hr>
  <p>
      <%= mess.content.html_safe %>
  </p>
</div>

<% if mess.sent %>
  <div class="col-md pull-right">
    <%= link_to edit_message_path(mess), class: "text-left btn btn-default" do %>
    	<i class="glyphicon glyphicon-pencil"></i>  Edit
    <% end %>
    <%= link_to message_forward_path(@message), class: "text-left btn btn-default", method: :post do %>
    	<i class="glyphicons glyphicons-message-forward"></i>  Forward
    <% end %>
    <%= link_to message_reply_path(@message), class: "text-left btn btn-default", method: :post do %>
    	<i class="glyphicons glyphicons-message-forward"></i>  Reply
    <% end %>
    <span class="glyphicons glyphicons-message-forward"></span>
  </div>
<% end %>