<%= form_for(@message) do |f| %>
	<%= render 'partials/error_messages', item: @message %>
	
    <div class="row">
        <div class="form-group col-md-12">
            <%= f.label 'To' %>
  		
  	        <select class="js-recipients-multiple form-control" name="recipients[user_id][]" id="message_user_id" multiple="multiple">
                <% @users.each do |user| %>
                  <option 
                    value="U<%= user.id %>" 
                    ><%= user.name %>
                  </option>
                <% end %>
                <% @groups.each do |grp| %>
                  <option 
                    value="G<%= grp.id %>"
                    ><%= grp.name %>
                  </option>
                <% end %>
            </select>
  	    </div>
	</div>

	<div class="row">
    <div class="form-group col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div id="trixheight" class="form-group col-md-12">
      <%= f.label :content %>
      <%= f.trix_editor :content, class: 'form-control'%>
    </div>
  </div>

  <div class="row">
		<div class="col-sm-12">
			<%= f.submit "Send Message", class: "btn btn-default  pull-right", name: 'submit', data: { 'disable-with' => 'Sending...' } %>

			<%= link_to messages_path, class: "btn btn-default pull-left" do %>
				<i class="fa fa-ban"></i> Cancel
			<% end %>
		</div>
	</div>
<% end %>
