<%= form_for(@message) do |f| %>
	<%= render 'partials/error_messages', item: @message %>
	
	<div class="row">
	  <div class="form-group col-md-12">
	    <%= f.label 'To' %>
  		
  		<select class="js-recipients-multiple col-md-12" name="recipients[user_id][]" id="message_user_id" multiple="multiple">
        <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
        <% end %>
      </select>
  	</div>
	</div>
	

	
	<div class="row">
    <div class="form-group col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :content %>
      <%= f.trix_editor :content, class: 'form-control', overflow: 'auto'%>
    </div>
  </div>

  <div class="row">
		<div class="col-sm-12">
		  <%= f.submit "Send Message", class: "btn btn-primary  pull-right", :name => 'submit' %>
			<%= f.submit "Save as Draft", class: "btn btn-default  pull-right", :name => 'submit'  %>
			<%= link_to 'Cancel', messages_path, class: 'btn btn-default'%>
		</div>
	</div>
<% end %>
