<div class="row">
  <div class="col-xs-12 visible-xs-block">
    <%= link_to new_message_path, class: "btn btn-primary btn-block" do %>
			<i class="fa fa-plus"></i> New Message
		<% end %>
  </div>
	<div class="col-md-4">
		<ul class="nav nav-tabs nav-justified" role='tablist'>
      <li class="<%= 'active' unless @sent_active %>">
        <%= link_to 'Inbox', '#inbox', role: 'tab', data: { toggle: 'inbox' } %>
      </li>
      <li class="<%= 'active' if @sent_active %>">
        <%= link_to 'Sent', '#sent', role: 'tab', data: { toggle: 'sent' } %>
      </li>
    </ul>
	</div>
  <div class="col-md-8 hidden-xs">
    <%= link_to new_message_path, class: "btn btn-primary pull-right" do %>
			<i class="fa fa-plus"></i> New Message
		<% end %>
  </div>
</div>
