<div class="col-md-6 hidden-xs hidden-sm">
	<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
		<h1>Contacts</h1>
	</div>
	
	<div class="row ">
		<div class="col-md-12">
			<%= render "actions" %>
		</div>
	</div>
	<div class="row padded-row">
		<%= will_paginate @messages %>
		<div class="list-group">
			<div class="col-md-12 list-group">
				<%= render(@messages) || 'No Entries Found' %>
			</div>
		</div>
		<%= will_paginate @messages %>
	</div>
</div>

<div class="col-md-1 visble-xs visible-sm">
	<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
		<h1>Contacts</h1>
	</div>
	
	<div class="row ">
		<div class="col-md-12">
			<%= render "actions" %>
		</div>
	</div>
	<div class="row padded-row">
		<%= will_paginate @messages %>
		<div class="list-group">
			<div class="col-md-12 list-group">
				<%= render(@messages) || 'No Entries Found' %>
			</div>
		</div>
		<%= will_paginate @messages %>
	</div>
</div>

<div class="col-md-6 hidden-xs hidden-sm">
	<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
		<h1><br></h1>
	</div>
	<%= link_to new_message_path, class: "btn btn-primary pull-right" do %>
		<i class="glyphicon glyphicon-plus"></i> New Message
	<% end %>
</div>

