<div class="list-group-item <%=  if (!message.read and @place == "inbox")then "list-group-item-warning" end  %>" data-groupname="<%= message.title %>">
  <%= link_to message do %>
    <b><%= truncate(message.sender.name, length: 45) %></b>
    <div class="pull-right">
     <i> <%= time_ago_in_words(message.updated_at).gsub('about ','') %> ago</i>
    </div>
    <br>
    <%= truncate(message.title, length: 45) %>
    <br>
    <i> <%= truncate(strip_tags(message.content), length: 45) %></i>
  <% end %>
</div>
