<div class="list-group-item" data-groupname="<%= message.title %>">
  <%= link_to message do %>
    <h4><%= message.title %></h4>
    <% if @place == 'inbox' %>
      <p><%= time_ago_in_words(message.updated_at) %> from <%= message.sender.name %></p>
    <% elsif @place == 'draft' %>
      <p>Created <%= time_ago_in_words(message.created_at) %> ago. Last Updated <%= time_ago_in_words(message.updated_at) %></p>
    <% elsif @place == 'sent' %>
      <p><%= time_ago_in_words(message.updated_at) %> | <%= message.updated_at %></p>
    <% end %>
  <% end %>
</div>
