<div class="list-group-item <%=  if (!message.read and @place == "inbox")then "list-group-item-warning" end  %>" data-groupname="<%= message.title %>">
  <%= link_to message do %>
    <h4><%= truncate(message.title, length: 45) %></h4>
    <p><%= time_ago_in_words(message.updated_at) %> from <%= message.sender.name %></p>
  <% end %>
</div>
