<% provide(:title, "Rosters") %>
<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
	<h1>Rostering</h1>
</div>

<ol class="breadcrumb">
	<li class="active">Rosters</li>
</ol>

<% if current_user.is_staff? %>
	<div class="row padded-row">
		<div class="col-md-12">
			<%= link_to new_roster_path, class: "btn btn-primary btn-lg btn-block visible-xs-block" do %>
				<%= fa_icon 'plus' %> New Roster
			<% end %>

			<%= link_to new_roster_path, class: "btn btn-primary pull-right hidden-xs" do %>
				<%= fa_icon 'plus' %> New Roster
			<% end %>
		</div>
	</div>
<% end %>

<div class="row padded-row">
	<div class="col-md-12">
		<div class="list-group">
			<%= render @rosters %>
		</div>
	</div>
</div>
