<% provide(:title, @task.title) %>

<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
  <h1>Task: <%= @task.title %> </h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Rosters", rosters_path %></li>
	<li><%= link_to @task.roster.title, @task.roster %></li>
	<li><%= link_to 'Tasks', @task.roster %></li>
	<li class='active'><%= @task.title %></li>
</ol>

<div class="narrow-container">
	<div class="row padded-row">
		<h4>
			<%= @task.title %>
		</h4>
	  <h4>Due: <%= date_as_local(@task.due) %></h4>
		<h4>Member: <%= link_to @task.user.name, @task.user %></h4>
		<h4>Location: <%= @task.location %></h4>
		<h4>Notes: <%= @task.notes %></h4>
	</div>
	<div class="row padded-row">
		<%= link_to 'Edit Task', edit_roster_task_path(@task.roster, @task), class: 'btn btn-default pull-right' %>
		<%= link_to 'Delete Task', roster_task_path(@task.roster, @task), data: { confirm: 'Are you sure you want to delete this task?' }, method: :delete, class: 'btn btn-danger' %>
	</div>
</div>
