<% if logged_in? %>
	<ul id="action-menu" class="list-group">
		<li class="list-group-item">
			<%= link_to root_path do %>
				<%= fa_icon 'home', class: 'large-icon pull-right' %> Home
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to user_path(current_user.id) do %>
				<%= fa_icon 'user', class: 'large-icon pull-right' %> My Account
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to logout_path, method: :delete do %>
				<%= fa_icon 'sign-out', class: 'pull-right large-icon' %> Log Out
			<% end %>
		</li>
	</ul>
<% end %>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo-inverse.svg', height: 45 %>
				civitasCRM
			<% end %>
		</div>
		<% if logged_in? %>
			<div class="pull-right action-icon-holder">
				<%= link_to root_path, class: '', 'data-toggle' => 'popover', 'data-placement' => 'bottom', title: 'Notifications', 'data-content' => '<a href="#notif">These are your notifications</a>', 'data-trigger' => 'focus' do %>
					<i class="fa fa-bell"></i>
					<% num_notifications = current_user.notifications.reject(&:read).size %>
					<% if num_notifications > 0 %>
						<span class="badge notifications-badge"><%= num_notifications %></span>
					<% end %>

				<% end %>
				<a href="#MyAccount" class="hidden-xs" data-toggle="tooltip" data-placement="bottom" title="Settings">
					<i class="fa fa-cog"></i>
				</a>
				<%= link_to logout_path, method: :delete, class: 'hidden-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: 'Log Out' do %>
					<i class="fa fa-sign-out"></i>
				<% end %>
				<a href="#" id="action-menu-button" class="visible-xs-inline">
					<%= fa_icon 'ellipsis-v' %>
				</a>
			</div>
		<% else %>
			<%= link_to 'About', 'http://www.civitascrm.com.au/', class: 'pull-right navbar-brand', target: '_blank', rel: 'noopener noreferrer' %>
		<% end %>
	</div>
</nav>
