<% if notification.read %>
  <div class="list-group-item col-md-12">
  	<div class="pull-left">
		  <h4><%= notification.title %>
		  	<span class="small" >
		  		(Resolved on <%= notification.updated_at.strftime("%d %m %Y")%>)
		  	</span>
		  </h4>
		  
		</div>
		<div class="pull-right">
		  <%= link_to notification_unresolve_path(notification), class: "text-left btn btn-default" do %>
				<i class="glyphicon glyphicon-ok"> </i> <%= resolved(notification.read) %>
			<% end %>
		</div>
<% else %>
  <div class="list-group-item col-md-12 list-group-item-warning"> 
    <div class="pull-left">
		  <h4><%= notification.title %>
		  	<span class="small" title="<%= notification.created_at.in_time_zone('Sydney').strftime("%I:%M%P %d/%m/%Y") %>">
		  		(Created <%= time_ago_in_words(notification.created_at) %> ago)
		  	</span>
		  </h4>
		</div>
		<div class="pull-right">
		  <%= link_to notification_resolve_path(notification), class: "text-left btn btn-default" do %>
				<i class="glyphicon glyphicon-exclamation-sign"> </i> <%= resolved(notification.read) %>
			<% end %>
		</div>
<% end %>
	
  <br><br>
	<div>
	  <% if notification.content.length > 100 %>
	    <%= truncate(notification.content, length: 100) %>
	    <%= link_to 'Read more', '', class: "read-more-link", data: {content: notification.content} %>
			
	  <% else %>
	    <%= notification.content %>
	  <% end %>
	</div>
	<p><%= link_to 'Show me', notification.resolve_link %></p>
</div>
