<div class="list-group-item <%= 'list-group-item-warning' unless notification.read %>">
	<div class="row">
		<div class="col-sm-9">
			<h4><%= notification.title %> <br class="visible-xs-block">
				<% if notification.read %>
					<span class="small" >
						<% resolution_user = User.find(notification.user_id) %>
						(Resolved on <%= notification.updated_at.in_time_zone('Sydney').strftime("%d/%m/%Y")%> by <%= link_to resolution_user.name, user_path(resolution_user.id) %>)
					</span>
				<% else %>
					<span class="small" title="<%= notification.created_at.in_time_zone('Sydney').strftime("%I:%M%P %d/%m/%Y") %>">
			  		(Created <%= time_ago_in_words(notification.created_at) %> ago)
			  	</span>
				<% end %>
			</h4>
		</div>
		<div class="col-xs-3">
			<% if notification.read %>
				<%= link_to unresolve_notification_path(notification), class: "text-left btn btn-default hidden-xs pull-right", title: 'Mark as unresolved' do %>
					<%= fa_icon 'envelope-o', class: 'large-icon' %> </i> Mark as Unread
				<% end %>
			<% else %>
				<%= link_to resolve_notification_path(notification), class: "text-left btn btn-default hidden-xs pull-right", title: 'Mark as resolved' do %>
					<%= fa_icon 'envelope-open-o', class: 'large-icon' %> </i> Mark as Read
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class='col-sm-12'>
		  <p><% if notification.content.length > 100 %>
		    <%= truncate(notification.content, length: 100) %>
		    <%= link_to 'Read more', '', class: "read-more-link", data: {content: notification.content} %>

		  <% else %>
		    <%= notification.content %>
		  <% end %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-xs-6">
			<%= link_to 'Show me', notification.resolve_link %>
		</div>
		<div class="col-xs-6 visible-xs-block">
			<% if notification.read %>
				<%= link_to unresolve_notification_path(notification), class: "text-left btn btn-default pull-right", title: 'Mark as unresolved' do %>
					<%= fa_icon 'envelope-o', class: 'large-icon' %> </i> Mark as Unread
				<% end %>
			<% else %>
				<%= link_to resolve_notification_path(notification), class: "text-left btn btn-default pull-right", title: 'Mark as resolved' do %>
					<%= fa_icon 'envelope-open-o', class: 'large-icon' %> </i> Mark as Read
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="row visible-xs-block">

	</div>
</div>
