<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
  <h1>Group: <%= @group.name %> </h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Groups", groups_path %></li>
	<li><%= link_to @group.name, @group %></li>
	<li class='active'>Members</li>
</ol>

<div class="row padded-row">
  <%= link_to @group, class: "btn btn-default pull-right" do %>
		<i class="glyphicon glyphicon-chevron-left"></i> Back To Group Page
	<% end %>
</div>

<div class="narrow-container">
	<div class="row padded-row">
		<h4>Members in group</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @group.users.size > 0 %>
				  <% @group.users.each do |user| %>
            	<div class="list-group-item col-md-4">
            		<h4>
                  <%= link_to user.name, user %>
                  <%= link_to group_unassign_user_path(@group.id, user.id), class: 'btn btn-default pull-right', method: :post do %>
										<i class="glyphicon glyphicon-minus"></i> Remove
									<% end %>
									<% if @group.admin?(user) %>
										<%= link_to group_remove_administrator_path(@group,user), class: 'btn btn-warning pull-right', method: :post do %>
											<i class="glyphicon glyphicon-ok"></i> Admin
										<% end %>
									<% else %>
										<%= link_to group_make_administrator_path(@group,user), class: 'btn btn-default pull-right', method: :post do %>
											<i class="glyphicon glyphicon-remove"></i> Admin
										<% end %>
									<% end %>
                </h4>
            	</div>
          <% end %>
				<% else %>
					<td>There are no users assigned to this roster yet.</td>
				<% end %>
			</table>
		</div>
	</div>

	<div class="row padded-row">
		<div class="row bounded-row">
			<div class="col-md-4">
				<h4>All members</h4>
			</div>
			<div class="col-md-4 pull-right">
				<div class="input-group">
					<input type="text" id="groups-search-bar" name="groups-search" value="" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<table class="table">
			  <% @users.each do |user| %>
			  	<% if !@group.user_ids.include?(user.id) %>
          	<div class="list-group-item col-md-4" data-groupname="<%= user.name %>">
          		<h4>
                <%= link_to user.name, user %>
								<%= link_to group_assign_user_path(@group.id, user.id), class: 'btn btn-default pull-right', method: :post do %>
									<i class="glyphicon glyphicon-plus"></i> Add
								<% end %>
              </h4>
          	</div>
          <% end %>
        <% end %>
			</table>
		</div>
	</div>
</div>
