<% provide(:title, @group.name) %>

<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
  <h1>Group: <%= @group.name %> </h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Groups", groups_path %></li>
	<li class='active'><%= @group.name %></li>
</ol>

<div class="narrow-container">
	<div class="row padded-row">
		<h4>
			<%= @group.discription %>
		</h4>
	  <p>
	   Date created: <strong><%= @group.created_at %></strong> 
	  </p>
	  <p>
	      Group type: <strong><%= @group.group_type %></strong>.
	  </p>
	</div>

	<div class="row padded-row">
		<h4>Member List</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @group.users.count > 0 %>
				  <% @group.users.each do |user| %>
            	<div class="list-group-item">
            		<h4>
                  <%= link_to user.name, user %>
                </h4>
            	</div>
          <% end %>
				<% else %>
					<td>There are no users assigned to this roster yet.</td>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row padded-row">
	  <%= link_to @group, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-default pull-right" do %>
			<i class="glyphicon glyphicon-trash"></i> Delete Group
		<% end %>
		<%= link_to edit_group_path(@group), class: "btn btn-default pull-right" do %>
			<i class="glyphicon glyphicon-pencil"></i> Edit Group
		<% end %>
		<%= link_to edit_group_path(@group), class: "btn btn-default pull-right" do %>
			<i class="glyphicon glyphicon-plus"></i> Add Members
		<% end %>
	</div>
</div>
