<div id="user-details-top-row">
  <div class="page-header">
    <h1><%= @group.name %></h1>
  </div>
</div>

<div class="row padded-row">
	<ul class="nav nav-tabs" role='tablist'>

    <li role="presentation" class="active">
			<a href="#details" aria-controls="expenses" role="tab" data-toggle="tab">Group Details</a>
		</li>

		<li role="presentation">
			<a href="#members" aria-controls="account" role="tab" data-toggle="tab">Group Members</a>
		</li>

    <div class="col-md-1 col-md-offset-7 hidden-xs">
  		<%= link_to @group, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary pull-right" do %>
  			<i class="glyphicon glyphicon-trash"></i> Delete Group
  		<% end %>
  	</div>
	</ul>
	
</div>

<div class='row tab-content padded-row'>
  <div id="details"  role='tabpanel' class='tab-pane active fade in'>
    <div class="col-md-8">
      <div class="user-details">
        <ul>
          <li>
            <h4>Group Type</h4>
            <h3><%= return_group_type(@group.group_type) %></h3>
            <h4>Group Created</h4>
            <h3><%= @group.created_at %></h3>
            <h4>Last Updated</h4>
            <h3><%= @group.updated_at %></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="members" role='tabpanel' class='tab-pane fade'>
    <div class="col-md-8">
      <div class="user-details">
        <% @group.users.each do |user| %>
          <div class="col-md-4">
          	<div class="list-group-item">
          		<h4>
                <%= user.name %>
                <i class="glyphicon glyphicon-picture pull-right"></i>
              </h4>
          	</div>
          </div>
        <% end %>
      </div>
      <div class="col-md-1 col-md-offset-7 hidden-xs">
    		<%= link_to '#', class: "btn btn-primary pull-right" do %>
    			<i class="glyphicon glyphicon-plus"></i> Add Member
    		<% end %>
    	</div>
    </div>
  </div>
</div>

