<% provide(:title, "Update Password") %>
<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
	<h1>Update your Password</h1>
</div>

<div class="row">
  <div class="col-md-12 col-lg-8">
    <%= form_for @user, url: { action: :update_password } do |f| %>
      <%= render 'partials/error_messages', item: @user %>

      <div class="form-group">
        <%= f.label :old_password %>
        <%= f.password_field :old_password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'New Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm New Password' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit 'Change Password', class: 'btn btn-primary pull-right' %>
      <%= link_to 'Cancel', @user, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-8">
    <br>
    <h4>Password Rules</h4>
    <p>
      The only rule for creating a password is that it must be <strong>longer than 8 characters</strong>.
    </p>
    <p>
      However, a strong password will include a mix of upper and lower case letter, numbers, and symbols.
    </p>
    <p>
      You could also consider using a service like <%= link_to 'LastPass', 'https://www.lastpass.com/', target: '_blank', rel: 'noopener noreferrer' %> to generate and manage more secure passwords.
    </p>
  </div>
</div>
