<% provide(:title, @user.name) %>

<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Members", users_path %></li>
	<li><%= link_to @user.name, @user %></li>
</ol>

<div class="row">
	<div class="col-md-2">
    <%= image_tag 'usericon.png', class: 'img-responsive', width: 150, height: 150 %>
  </div>

  <div class="col-md-10">
    <table class='user-details-table'>
      <tr>
        <td>Email Address:</td>
        <td><%= mail_to @user.email %></td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td><%= number_link(@user.phone_number) || content_tag(:em, "Not provided") %></td>
      </tr>
      <tr>
        <td>Address:</td>
        <% if @user.address.blank? %>
          <td><em>Not provided</em></td>
        <% else %>
          <td>
            <%= @user.address %>
            <%= link_to @address_link, target: :_blank, rel: 'noopener noreferrer' do %>
    					<i class="fa fa-map-marker" aria-hidden="true"></i>
    				<% end %>
          </td>
        <% end %>
      </tr>
      <tr>
        <td>Date of Birth:</td>
        <td><%= if @user.dob.nil? then content_tag(:em, "Not provided") else @user.dob.strftime("%d/%m/%Y") end %></td>
      </tr>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
		<h4>Groups</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @user.groups.size > 0 %>
					<% @user.groups.each do |group| %>
						<tr>
							<td><%= link_to group.name, group %></td>
							<td><%= "#{pluralize group.users.size, 'member'}" %></td>
							<td>
								<% if group.admin? @user %>
									Leader
								<% end %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<td><%= @pronoun %> not a member of any groups at the moment.</td>
				<% end %>
			</table>
		</div>

	</div>
	<div class="col-md-6">
		<h4>Rosters</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @user.rosters.size > 0 %>
					<% @user.rosters.each do |roster| %>
						<tr>
							<td><%= link_to roster.title, roster %></td>
							<td><%= "#{pluralize(roster.tasks.select{ |tsk| tsk.user_ids.include? @user.id }.count, 'task')} in this roster" %></td>
						</tr>
					<% end %>
				<% else %>
					<td><%= @pronoun %> not assigned to any rosters at the moment.</td>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<%= link_to 'Update details', edit_user_path  %> <% if @user.id == current_user.id %>| <%= link_to 'Change Password', '#'  %> <% end %>
	</div>
</div>
