<% provide(:title, @user.name) %>

<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Members", users_path %></li>
	<li><%= link_to @user.name, @user %></li>
</ol>

<div class="row">
	<div class="col-md-2">
    <%= image_tag 'usericon.png', class: 'img-responsive img-xs-center', width: 150, height: 150 %>
  </div>

  <div class="col-md-4">
    <table class='user-details-table'>
			<% if show_allowed @user, :email %>
	      <tr>
	        <td>Email Address:</td>
	        <td><%= mail_to @user.email %></td>
	      </tr>
			<% end %>

			<% if show_allowed @user, :phone_number %>
	      <tr>
	        <td>Phone Number:</td>
	        <td><%= if @user.phone_number == 0 || @user.phone_number.blank? then content_tag(:em, "Not provided") else number_link(@user.phone_number) end %></td>
	      </tr>
			<% end %>

			<% if show_allowed @user, :address %>
	      <tr>
	        <td>Address:</td>
	        <% if @user.address.blank? %>
	          <td><em>Not provided</em></td>
	        <% else %>
	          <td>
	            <%= @user.address %>
	            <%= link_to @address_link, target: :_blank, rel: 'noopener noreferrer' do %>
	    					<i class="fa fa-map-marker" aria-hidden="true"></i>
	    				<% end %>
	          </td>
	        <% end %>
	      </tr>
			<% end %>

			<% if show_allowed @user, :dob %>
	      <tr>
	        <td>Date of Birth:</td>
	        <td><%= if @user.dob.nil? then content_tag(:em, "Not provided") else @user.dob.strftime("%d/%m/%Y") end %></td>
	      </tr>
			<% end %>

			<% if show_allowed @user, :user_created_at %>
				<tr>
					<td>Member Since:</td>
					<td><%= @user.created_at.strftime("%d/%m/%Y") %></td>
				</tr>
			<% end %>

      <tr>
        <td>Access Level: </td>
        <td><%= @user.level.capitalize %></td>
      </tr>
    </table>
  </div>

  <div class="gap-spacer visible-xs-block">

  </div>

	<% if current_user.is_staff? %>
	  <div class="col-md-6">
	    <div class="row">
	      <div class="col-md-12">
	        <h4>Notes:</h4>
	        <p><%= if @user.notes.blank? then content_tag(:em, "No notes recorded") else @user.notes end %></p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-12">
	        <h4>Special Requirements:</h4>
	        <p><%= if @user.special_needs.blank? then content_tag(:em, "No requirements recorded") else @user.special_needs end %></p>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>

<br>

<div class="row">
  <div class="col-md-6">
		<h4>Groups</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @user.groups.size > 0 %>
					<% @user.groups.each do |group| %>
						<tr>
							<td><%= link_to group.name, group %></td>
							<td><%= "#{pluralize group.users.size, 'member'}" %></td>
							<td>
								<% if group.admin? @user %>
									Leader
								<% end %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<td><%= @pronoun %> not a member of any groups at the moment.</td>
				<% end %>
			</table>
		</div>

	</div>
	<div class="col-md-6">
		<h4>Rosters</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @user.rosters.size > 0 %>
					<% @user.rosters.each do |roster| %>
						<tr>
							<td><%= link_to roster.title, roster %></td>
							<td><%= "#{pluralize(roster.tasks.select{ |tsk| tsk.user_ids.include? @user.id }.count, 'task')} in this roster" %></td>
						</tr>
					<% end %>
				<% else %>
					<td><%= @pronoun %> not assigned to any rosters at the moment.</td>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
    <div class="hidden-xs">

			<% if current_user.is_staff? || current_user.id == @user.id %>
	      <%= link_to edit_user_path, class: 'btn btn-default' do %>
					<%= fa_icon 'pencil' %> Update details
				<% end %>

				<%= link_to user_privacy_path(current_user.id), class:'btn btn-default' do %>
					<%= fa_icon 'cogs' %> Privacy Settings
				<% end %>
			<% end %>

			<% if @user.id == current_user.id %>
	      <%= link_to '#', class: 'btn btn-default' do %>
					<%= fa_icon 'unlock-alt' %> Change Password
				<% end %>
			<% end %>

    </div>
    <div class="visible-xs-block btn-group-vertical">
			<%= link_to edit_user_path, class: 'btn btn-default' do %>
				<%= fa_icon 'pencil' %> Update details
			<% end %>
			<% if @user.id == current_user.id %>
	      <%= link_to '#', class: 'btn btn-default' do %>
					<%= fa_icon 'unlock-alt' %> Change Password
				<% end %>
				<%= link_to user_privacy_path(current_user.id), class:'btn btn-default' do %>
					<%= fa_icon 'cogs' %> Privacy Settings
				<% end %>
			<% end %>
    </div>
	</div>
</div>
