<% provide(:title, "Events") %>
<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
	<h1>Events</h1>
</div>

<ol class="breadcrumb">
	<li class="active">Events</li>
</ol>

<% if current_user.is_staff? %>
	<div class="row">
		<div class="col-md-12">
			<%= link_to new_event_path, class: "btn btn-primary btn-lg btn-block visible-xs-block" do %>
				<%= fa_icon 'plus' %> New Event
			<% end %>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-sm-10">
				<h3>Events This Week</h3>
			</div>
			<div class="col-sm-2">
				<%= link_to new_event_path, class: "btn btn-primary pull-right hidden-xs" do %>
					<%= fa_icon 'plus' %> New Event
				<% end %>
			</div>
		</div>
	</div>
</div>
<% unless @this_weeks_events.empty? %>
	<div class="row">
		<div class="col-md-8">
			<div class="list-group">
				<% @this_weeks_events.each do |event| %>
					<div class="list-group-item" data-searchterm="<%= event.title %>">
						<h4><%= link_to event.title, event %> - <%= time_string event %></h4>
						<p>
							<%=  "#{event.event_type}: #{event.formatted_time} #{event.formatted_date} at #{event.location}" %>.
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<% unless @future_events.empty? %>
	<div class="row">
		<div class="col-md-12">
			<h3>Future Events</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="list-group">
				<% @future_events.each do |event| %>
					<div class="list-group-item" data-searchterm="<%= event.title %>">
						<h4><%= link_to event.title, event %> - <%= time_string event %></h4>
						<p>
							<%=  "#{event.event_type}: #{event.event_date.in_time_zone('Sydney').strftime("%I:%M%P on %d/%m/%Y")} at #{event.location}" %>.
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<% if @future_events.empty? && @this_weeks_events.empty? %>
	<div class="row">
		<div class="col-md-12">
			<h4><em>There are no upcoming events.</em></h4>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'View past events', past_events_path %>
	</div>
</div>
