<% provide(:title, @event.title) %>

<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
  <h1>Event: <%= @event.title %> </h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Events", events_path %></li>
	<li class='active'><%= @event.title %></li>
</ol>

<div class="row">
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<h4><%= @event.event_type %> event</h4>
				<p>
					<%= "#{@event.formatted_time} on #{@event.formatted_date}, at #{@event.location}" %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>Attendees</h4>
				<p>
					<%= "#{pluralize(@event.users.length, 'person')} marked present at this event." %>
				</p>
				<p>
					<%= link_to 'See the full list.', '#attendance-users-panel', data: { toggle: 'collapse' }, id: "attendance-users-link" %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-default' %>
				<%= link_to 'Mark Attendance', attendance_event_path(@event), class: 'btn btn-success' %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="collapse panel panel-default" id='attendance-users-panel'>
			<div class="panel-heading">
				<div class="input-group">
					<input type="text" id='username-search-bar' name="user-search" value="" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default">
							<%= fa_icon 'search' %>
						</button>
					</span>
				</div>
			</div>

			<div class="list-group scrollable-list-group">
				<% 30.times do |index| %>
					<div class="list-group-item">
						User Name (<%= index %>)
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
