<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
	<h1>Contacts</h1>
</div>

<ol class="breadcrumb">
	<li class='active'>Contacts</li>
</ol>

<div class="row padded-row">
	<div class="col-md-1 col-md-offset-7 hidden-xs">
		<%= link_to new_contact_path, class: "btn btn-primary pull-right" do %>
			<i class="glyphicon glyphicon-plus"></i> New Message
		<% end %>
	</div>
	
	<div class="list-group">
		<% @contacts.each do |contact| %>
			<div class="list-group-item col-md-6" data-groupname="<%= contact.title %>">
			  <%= link_to contact do %>
			    <h4><%= contact.title %></h4>
			    <p><%= contact.created_at %> | <%= contact.updated_at %></p>
			    <% if contact.sent then %>
			    	Status: <i class="glyphicon glyphicon-pencil"></i> Draft
			    <% else %>
			    	Status: <i class="glyphicon glyphicon-send"></i> Sent
			    <% end %>
			  <% end %>
			</div>
		<% end %>
	</div>
</div>