<div class="page-header">
	<h1>Create New Message</h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Contacts", contacts_path%></li>
	<li class='active'>New</li>
</ol>

<%= form_for @contact do |f| %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :content %>
      <%= f.trix_editor :content, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
		<div class="col-sm-8">
			<%= f.submit "Save Changes", class: "btn btn-primary  pull-right" %>
			<%= link_to 'Cancel', contacts_path, class: 'btn btn-default'%>
		</div>
	</div>

<% end %>