<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
  <h1>Message: <%= @contact.title %> </h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Contacts", contacts_path %></li>
	<li><%= link_to @contact.title, @contact %></li>
	<li><%= link_to "Edit", @contact %></li>
	<li class='active'>Recipients</li>
</ol>

<div class="row padded-row">
  <%= link_to @contact, class: "btn btn-default pull-right" do %>
		<i class="glyphicon glyphicon-chevron-left"></i> Back To Contact Page
	<% end %>
</div>

<div class="narrow-container">
	<div class="row padded-row">
		<h4>Recipients</h4>
		<div class="panel panel-default">
			<table class="table">
				<% if @contact.users.size > 0 %>
				  <% @contact.users.each do |user| %>
            	<div class="list-group-item col-md-4">
            		<h4>
                  <%= link_to user.name, user %>
                  <%= link_to contact_unassign_user_path(@group.id, user.id), class: 'btn btn-default pull-right', method: :post do %>
										<i class="glyphicon glyphicon-minus"></i> Remove
									<% end %>
                </h4>
            	</div>
          <% end %>
				<% else %>
					<td>There are no recipients assigned to this contact yet.</td>
				<% end %>
			</table>
		</div>
	</div>

	<div class="row padded-row">
		<div class="row bounded-row">
			<div class="col-md-4">
				<h4>All members</h4>
			</div>
			<div class="col-md-4 pull-right">
				<div class="input-group">
					<input type="text" id="groups-search-bar" name="groups-search" value="" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<table class="table">
			  <% @users.each do |user| %>
			  	<% if !@contact.user_ids.include?(user.id) %>
          	<div class="list-group-item col-md-4" data-groupname="<%= user.name %>">
          		<h4>
                <%= link_to user.name, user %>
								<%= link_to contact_assign_user_path(@contact.id, user.id), class: 'btn btn-default pull-right', method: :post do %>
									<i class="glyphicon glyphicon-plus"></i> Add
								<% end %>
              </h4>
          	</div>
          <% end %>
        <% end %>
			</table>
		</div>
	</div>
</div>
